<aside id="vpm-banner">
	<a href="http://www.vanpattenmedia.com/" rel="nofollow">Looking for my website design business? Click to visit <strong>vanpattenmedia.com</strong> &rarr;</a>
</aside>
<header id="header">
	<div id="header-left_nav">
		<h1><a href="/">cvp vs. world</a></h1>
		<span id="splitter">&bull;</span>
		<a href="/about/">about me</a>
	</div>
	<section id="header-post_nav">
		{% if page.previous %}
		<a href="{{ page.previous.url }}">&larr; Previous</a>
		{% endif %}
		{% if page.next %}
		<a href="{{ page.next.url }}">Next &rarr;</a>
		{% endif %}
	</section>
</header>
