@import "compass/css3";
@import "compass/typography/text";
@import "misc/variables"; 

body {
	font: 15px/1.7 $body-font;
	background: image-url('vpm-banner.jpg') top center no-repeat fixed;
	margin: 0px;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

@import "layout/banner";
@import "layout/header";

#wrapper {
	padding: 20px;
	margin: 55px 0 0;
	background: #FFF;
	@include box-shadow(0 10px 10px 10px #000);
	position: relative;
	z-index: 10;
}

#content {
	max-width: 600px;
	width: 70%;
	min-width: 280px;
	margin: 60px auto 130px;
//	padding: 20px;

	h1, h2, h3, h4, h5, h6 {
		font-family: $header-font;
		font-weight: normal;
		line-height: 1.2;
		text-align: center;
		margin: 1em 0 0;
	}

	#logo, #post-title {
		margin: 0 0 70px;
		font-size: 42px;
		color: #000;
	}
}

@import "layout/homepage";
@import "layout/post";
