@import "compass/reset";
@import "compass/css3";
@import "compass/typography/text";

@import "misc/variables"; 

@import "layout/header";
@import "layout/inner_header";

body {
	font-family: $body-font;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

#content {
	max-width: 600px;
	width: 70%;
	min-width: 280px;
	margin: 0 auto;
	padding: 90px 20px 130px;

	h1, h2, h3, h4, h5, h6 {
		//font-family: $header-font;
		line-height: 1.2;
	}
}

@import "layout/homepage";
@import "layout/post";

@media handheld, only screen and (max-width: 479px) {
	#logo {
		padding: 30px 10px;
	}

	#content {
		padding: 40px 20px 50px;
	}

	#post p {
		text-align: left;
	}
}
