/* line 10, ../_sass/misc/_variables.scss */
#header:before, #posts li:before, #header:after, #posts li:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 19, ../_sass/misc/_variables.scss */
#header:after, #posts li:after {
  clear: both;
}

/* line 23, ../_sass/misc/_variables.scss */
#header, #posts li {
  zoom: 1;
}

/* line 4, ../_sass/layout/_header.scss */
#vpm-banner a {
  display: block;
  padding: 10px 8px;
  background: #DDD;
  border-bottom: #AAA;
  -webkit-box-shadow: inset 0 -3px 10px -5px #333333;
  -moz-box-shadow: inset 0 -3px 10px -5px #333333;
  box-shadow: inset 0 -3px 10px -5px #333333;
  color: #444;
  text-shadow: 0 1px 1px white;
  text-align: center;
  font-weight: normal;
}
/* line 15, ../_sass/layout/_header.scss */
#vpm-banner a:hover {
  text-decoration: none;
  background: #CCC;
}

/* line 22, ../_sass/layout/_header.scss */
#header {
  display: block;
  font: 14px/1 "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  margin: 20px;
}

/* line 29, ../_sass/layout/_header.scss */
#header-left_nav {
  float: left;
}
/* line 32, ../_sass/layout/_header.scss */
#header-left_nav h1 {
  display: inline;
  font: 14px/1 "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

/* line 38, ../_sass/layout/_header.scss */
#splitter {
  color: #CCC;
  margin: 0 4px;
}

/* line 43, ../_sass/layout/_header.scss */
#header-post_nav {
  float: right;
  text-align: right;
}
/* line 47, ../_sass/layout/_header.scss */
#header-post_nav a {
  margin: 0 0 0 10px;
}

/* line 7, ../_sass/global.scss */
body {
  font: 15px/1.7 "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  margin: 0px;
}

/* line 12, ../_sass/global.scss */
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* line 17, ../_sass/global.scss */
a:hover {
  text-decoration: underline;
}

/* line 22, ../_sass/global.scss */
#content {
  max-width: 600px;
  width: 70%;
  min-width: 280px;
  margin: 60px auto 130px;
  padding: 20px;
}
/* line 29, ../_sass/global.scss */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  font-family: "ltc-bodoni-175", "Palatino Linotype", "Book Antiqua", "Palatino", Georgia, "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  margin: 1em 0 0;
}
/* line 37, ../_sass/global.scss */
#content #logo, #content #post-title {
  margin: 0 0 70px;
  font-size: 42px;
  color: #000;
}

/* line 2, ../_sass/layout/_homepage.scss */
#posts {
  padding: 0;
}
/* line 5, ../_sass/layout/_homepage.scss */
#posts li {
  margin: 0 0 15px;
  font-size: 16px;
  line-height: 21px;
}
/* line 11, ../_sass/layout/_homepage.scss */
#posts li time {
  display: block;
  color: #999;
  width: 20%;
  min-width: 110px;
  float: left;
  font: 80% "menlo", "monaco", "inconsolata", monospace;
  line-height: inherit;
}

/* line 1, ../_sass/layout/_post.scss */
#post {
  color: #444;
}
/* line 4, ../_sass/layout/_post.scss */
#post h3 {
  font-size: 28px;
}
/* line 8, ../_sass/layout/_post.scss */
#post h4 {
  font-size: 24px;
}
/* line 12, ../_sass/layout/_post.scss */
#post code {
  font-family: monospace;
  background: #F6F6F6;
  border: 1px solid #dddddd;
  padding: 3px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 95%;
}
/* line 22, ../_sass/layout/_post.scss */
#post ol li, #post ul li {
  margin: 5px 0;
}
/* line 27, ../_sass/layout/_post.scss */
#post ol {
  list-style: lower-roman;
}
/* line 31, ../_sass/layout/_post.scss */
#post ul {
  list-style: disc;
}
/* line 35, ../_sass/layout/_post.scss */
#post blockquote {
  padding: 0 20px 0 18px;
  margin-left: 20px;
  border-left: 2px dotted #eddfdf;
  font-style: italic;
}
