/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p357/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p357/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p357/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p357/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.8.7-p357/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.8.7-p357/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.8.7-p357/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.8.7-p357/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.8.7-p357/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_sass/layout/_header.scss */
#logo {
  display: block;
  padding: 90px 0 50px;
  text-align: center;
  font: 60px/1 "ltc-bodoni-175", "Palatino Linotype", "Book Antiqua", "Palatino", Georgia, "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
  color: #000;
  text-decoration: none;
}

/* line 1, ../_sass/layout/_inner_header.scss */
#inner_header {
  padding: 10px;
  display: block;
  font: 14px/1 "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

/* line 7, ../_sass/layout/_inner_header.scss */
#inner_header-left_nav {
  float: left;
}

/* line 11, ../_sass/layout/_inner_header.scss */
#inner_header-post_nav {
  float: right;
  text-align: right;
}
/* line 15, ../_sass/layout/_inner_header.scss */
#inner_header-post_nav a {
  margin: 0 0 0 10px;
}

/* line 10, ../_sass/global.scss */
a {
  color: #5353ac;
  text-decoration: none;
}
/* line 14, ../_sass/global.scss */
a:hover {
  color: #3333cc;
  text-decoration: underline;
}

/* line 20, ../_sass/global.scss */
#content {
  max-width: 600px;
  width: 70%;
  min-width: 280px;
  margin: 0 auto;
  padding: 90px 20px 130px;
}
/* line 27, ../_sass/global.scss */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  font-family: "ltc-bodoni-175", "Palatino Linotype", "Book Antiqua", "Palatino", Georgia, "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
  line-height: 1.2;
}

/* line 2, ../_sass/layout/_homepage.scss */
#posts li {
  margin: 0 0 40px;
  text-align: center;
}
/* line 6, ../_sass/layout/_homepage.scss */
#posts li h2 {
  font-size: 28px;
  margin: 0 0 8px;
}
/* line 11, ../_sass/layout/_homepage.scss */
#posts li a {
  text-decoration: none;
  color: #000;
}
/* line 15, ../_sass/layout/_homepage.scss */
#posts li a:hover {
  background: #EEE;
}
/* line 20, ../_sass/layout/_homepage.scss */
#posts li span {
  display: block;
  font: 14px "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  color: #999;
}

/* line 1, ../_sass/layout/_post.scss */
.entry-content {
  font: 20px/2 "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

/* line 5, ../_sass/layout/_post.scss */
#post {
  color: #444;
}
/* line 8, ../_sass/layout/_post.scss */
#post h3, #post h4, #post h5, #post h6 {
  margin: 50px 0 0;
  color: #000;
}
/* line 13, ../_sass/layout/_post.scss */
#post h3 {
  font-size: 28px;
}
/* line 17, ../_sass/layout/_post.scss */
#post h4 {
  font-size: 24px;
}
/* line 21, ../_sass/layout/_post.scss */
#post p {
  margin: 30px 0 0;
  text-align: justify;
}
/* line 26, ../_sass/layout/_post.scss */
#post code {
  font-family: monospace;
}
/* line 30, ../_sass/layout/_post.scss */
#post strong {
  font-weight: bold;
}
/* line 34, ../_sass/layout/_post.scss */
#post em {
  font-style: italic;
}
/* line 38, ../_sass/layout/_post.scss */
#post code {
  background: #EFEFEF;
  border: 1px solid #CCC;
  padding: 2px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 46, ../_sass/layout/_post.scss */
#post ol, #post ul {
  margin: 20px 0 0;
}
/* line 49, ../_sass/layout/_post.scss */
#post ol li, #post ul li {
  margin: 10px 0 0 40px;
}
/* line 54, ../_sass/layout/_post.scss */
#post ol {
  list-style: decimal-leading-zero;
}
/* line 58, ../_sass/layout/_post.scss */
#post ul {
  list-style: disc;
}
/* line 62, ../_sass/layout/_post.scss */
#post blockquote {
  padding: 0 20px 0 18px;
  margin-left: 20px;
  border-left: 2px dotted #eddfdf;
  font-style: italic;
}

/* line 70, ../_sass/layout/_post.scss */
#post-title {
  font-size: 42px;
  text-align: center;
  color: #000;
  margin: 0 0 70px;
}

@media handheld, only screen and (max-width: 479px) {
  /* line 37, ../_sass/global.scss */
  #logo {
    padding: 30px 10px;
  }

  /* line 41, ../_sass/global.scss */
  #content {
    padding: 40px 20px 50px;
  }

  /* line 45, ../_sass/global.scss */
  #post p {
    text-align: left;
  }
}
