#header {
	display: block;
	font: 14px/1 $body-font;
	@extend %clearfix;
}

.nav {
	float: left;
	text-transform: lowercase;

	h1 {
		display: inline;
		font: 14px/1 $body-font;
	}
}

#splitter {
	color: #CCC;
	margin: 0 4px;
}

.pnav {
	float: right;
	text-align: right;
}

@media ( max-width: 370px ) {
	//.pnav-prev {
		.pnav-label {
			display: none;
		}
	//}
}

#logo {
	@media ( max-width: 600px ) {
		font-size: 32px !important;
	}
}

.head-cvp, .head-world {
	width: 150px;
	height: 150px;
	line-height: 150px;
	display: inline-block;
	@include border-radius(150px);
	background-color: black;
	background-size: cover;
	text-indent: 1000in;
	overflow: hidden;
	color: white;

	@media ( max-width: 600px ) {
		width: 100px;
		height: 100px;
		line-height: 100px;
	}
}

#logo:hover {
	.head-cvp, .head-world {
		background: black;
		text-indent: 0;
	}
}

.head-cvp {
	background-image: image-url('cvp.jpg');
}

.head-world {
	background-image: image-url('world.jpg');
}
