#vpm-banner {
	//margin: 0 0 10px;

	a {
		display: block;
		padding: 10px 8px;
		background: #DDD;
		border-bottom: #AAA;
		@include box-shadow(inset 0 -3px 10px -5px #333);
		color: #444;
		@include text-shadow(0 1px 1px #FFF);
		text-align: center;
		font-weight: normal;

		&:hover {
			text-decoration: none;
			background: #CCC;
		}
	}
}

#header {
	display: block;
	font: 14px/1 $body-font;
	@extend %clearfix;
	margin: 20px;
}

#header-left_nav {
	float: left;

	h1 {
		display: inline;
		font: 14px/1 $body-font;
	}
}

#splitter {
	color: #CCC;
	margin: 0 4px;
}

#header-post_nav {
	float: right;
	text-align: right;

	a {
		margin: 0 0 0 10px;
	}
}
