#posts {
	padding: 0;
	list-style: none;
	
	li {
		margin: 0 0 15px;
		font-size: 16px;
		@extend %clearfix;
		line-height: 21px;

		time {
			display: block;
			color: #999;
			width: 20%;
			min-width: 110px;
			float: left;
			font: 80% 'menlo', 'monaco', 'inconsolata', monospace;
			line-height: inherit;
		}
	}
}
