#inner_header {
	padding: 10px;
	display: block;
	font: 14px/1 $body-font;
}

#inner_header-left_nav {
	float: left;

	h1 {
		display: inline;
	}
}

#splitter {
	color: #CCC;
	margin: 0 4px;
}

#inner_header-post_nav {
	float: right;
	text-align: right;

	a {
		margin: 0 0 0 10px;
	}
}
