#post {
	color: #444;

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 24px;
	}

	code {
		font-family: monospace;
		background: #F6F6F6;
		border: 1px solid #DDD;
		padding: 3px 4px;
		@include border-radius(2px);
		font-size: 95%;
	}

	ol, ul {
		padding: 0;
		li {
			margin: 5px 0;
		}
	}

	ol {
		list-style: lower-roman;
	}

	ul {
		list-style: square;
	}

	blockquote {
		padding: 0 20px 0 18px;
		margin-left: 20px;
		border-left: 2px dotted darken(#F6EFEF, 5%);
		font-style: italic;
	}

	a {
		color: mix( lighten( blue, 20% ), black, 50% );

		&:active {
			color: white;
			background: mix( lighten( blue, 20% ), black, 50% );
			text-decoration: none;
		}
	}
}
